*/bin/*
*/build/*
*/dist/

local.properties
*/.settings/
*/.loadpath

# External tool builders
*/.externalToolBuilders/

*/.project

*/.classpath

# Locally stored "Eclipse launch configurations"
*/.launch

# CDT-specific
*/.cproject

# PDT-specific
*/.buildpath

*/dist/

# sbteclipse plugin 
*/.target

# TeXlipse plugin
*..texlipse
